<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="couchbase-session" type="Couchbase.Configuration.Client.Providers.CouchbaseClientSection, Couchbase.NetClient" />
    <section name="couchbase-cache" type="Couchbase.Configuration.Client.Providers.CouchbaseClientSection, Couchbase.NetClient" />
  </configSections>
  <couchbase-session>
    <servers>
      <add uri="http://localhost:8091/"></add>
    </servers>
    <buckets>
      <add name="memcached"></add>
    </buckets>
  </couchbase-session>
  <couchbase-cache>
    <servers>
      <add uri="http://localhost:8091/"></add>
    </servers>
    <buckets>
      <add name="default"></add>
    </buckets>
  </couchbase-cache>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>