@{
    ViewBag.Title = "About Couchbase ASP.NET";
}
<h2>
    About Couchbase ASP.NET</h2>
<p />
This sample app demonstrates how to use the Couchbase Labs' Couchbase ASP.NET library.
<p />
All code is made available "as is" with no expressed or implied warranty or support.
<p />
Currently, the Couchbase ASP.NET project contains only a Couchbase SessionState provider.  
<p />
For usage, explore the code in this project, including the Web.config.

