@{
    ViewBag.Title = "Home Page";
}

<h2>@Session[CouchbaseAspNetSample.Constants.SessionConstants.MESSAGE]</h2>
<p>
    To learn more about Couchbase and .NET visit 
    <a href="http://couchbase.com/develop/net/current" title="Couchbase .NET Client Library Documentation">http://couchbase.com/develop/net/current</a>.
</p>
