@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    To learn more about Couchbase and .NET visit 
    <a href="http://docs.couchbase.com/couchbase-sdk-net-1.3/#getting-started" title="Couchbase .NET Client Library Documentation">http://http://www.couchbase.com/communities/net</a>.
</p>
